.profile-pic {
  float: left;
  width: 150px;
  border-radius: 30%;
  margin-right: 20px;

  @include media-query($on-palm) {
    float: none;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}


.site-subtitle {
  @include relative-font-size(1);
  font-weight: 300;
  margin-top: -20px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}
